li {
    cursor: pointer;
}

.schedule-call {
    cursor: pointer;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    writing-mode: vertical-lr;
    text-align: center;
    background: var(--color-green);
    color: var(--color-white);
    padding: 15px 10px;
    border-radius: 0px 5px 5px 0px;
    font-size: var(--font-size-14);
    font-weight: 600;
}

.fixed-menu {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
}

.fixed-menu-dots span {
    margin: 10px;
    width: 15px;
    height: 15px;
    display: block;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid var(--color-green);
}

.fixed-menu-dots .active span {
    border: 2px solid var(--color-light-blue);
}
