<!-- @if (schedule_call) {
    <div class="fixed-bg" [ngClass]="{'active-schedule': schedule_call}"></div>
    <div>
        <div class="section schedule-call-form">
            <div class="position-relative section-inner">
                <div class="close-btn" (click)="notifyParent()"></div>
                <div class="section-header text-center">
                    <h2>Schedule a Call Back</h2>
                    <div class="note">Note - Disabled gray colored dates /Time Slots are already booked</div>
                </div>
                <div class="spacer-small"></div>
                <div class="section-content">
                    <div class="form-block">
                        <div class=''>
                            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                                <div class="display-flex">
                                    <div class="zcwf_row w-50">
                                        <div class="zcwf_col_fld">
                                            <input type="text" id="First_Name" formControlName="firstName" placeholder="First Name" />
                                            <div class="error"
                                                *ngIf="registrationForm.get('firstName')?.touched && registrationForm.get('firstName')?.invalid">
                                                <small *ngIf="registrationForm.get('firstName')?.errors?.['required']">First Name is
                                                    required.</small>
                                                <small *ngIf="registrationForm.get('firstName')?.errors?.['minlength']">First Name must be at
                                                    least 2 characters long.</small>
                                                <small *ngIf="registrationForm.get('firstName')?.errors?.['pattern']">Invalid characters in First Name.</small>
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div class="zcwf_row w-50">
                                        <div class="zcwf_col_fld">
                                            <input type="text" id="Last_Name" formControlName="lastName" placeholder="Last Name" />
                                            <div class="error"
                                                *ngIf="registrationForm.get('lastName')?.touched && registrationForm.get('lastName')?.invalid">
                                                <small *ngIf="registrationForm.get('lastName')?.errors?.['required']">Last Name is
                                                    required.</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="display-flex">
                                    <div class="zcwf_row w-50">
                                        <div class="zcwf_col_fld">
                                            <input type="text" id="Email" formControlName="emailId" placeholder="Email" />
                                            <div class="error"
                                                *ngIf="registrationForm.get('emailId')?.touched && registrationForm.get('emailId')?.invalid">
                                                <small *ngIf="registrationForm.get('emailId')?.errors?.['required']">Email is required.</small>
                                                <small *ngIf="registrationForm.get('emailId')?.errors?.['pattern']">Invalid email format.</small>
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div class="zcwf_row w-50">
                                        <div class="zcwf_col_fld">
                                            <input type="text" id="Phone" formControlName="phoneNumber" placeholder="Phone" />
                                            <div class="error"
                                                *ngIf="registrationForm.get('phoneNumber')?.touched && registrationForm.get('phoneNumber')?.invalid">
                                                <small *ngIf="registrationForm.get('phoneNumber')?.errors?.['required']">Phone number is
                                                    required.</small>
                                                <small *ngIf="registrationForm.get('phoneNumber')?.errors?.['maxlength']">Phone number cannot
                                                    exceed 10 digits.</small>
                                                <small *ngIf="registrationForm.get('phoneNumber')?.errors?.['pattern']">Phone number must be
                                                    numeric.</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="zcwf_row">
                                    <div class="zcwf_col_fld">
                                        <input type="text" id="School_Name" formControlName="schoolName" placeholder="School Name" />
                                        <div class="error"
                                            *ngIf="registrationForm.get('schoolName')?.touched && registrationForm.get('schoolName')?.invalid">
                                            <small *ngIf="registrationForm.get('schoolName')?.errors?.['required']">School Name is
                                                required.</small>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="zcwf_row">
                                    <div class="zcwf_col_fld">
                                        <input type="text" id="Board" formControlName="board" placeholder="Board" />
                                        <div class="error"
                                            *ngIf="registrationForm.get('board')?.touched && registrationForm.get('board')?.invalid">
                                            <small *ngIf="registrationForm.get('board')?.errors?.['required']">Board is required.</small>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="zcwf_row">
                                    <div class="zcwf_col_fld">
                                        <input type="text" id="City" formControlName="city" placeholder="City" />
                                        <div class="error"
                                            *ngIf="registrationForm.get('city')?.touched && registrationForm.get('city')?.invalid">
                                            <small *ngIf="registrationForm.get('city')?.errors?.['required']">City is required.</small>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="zcwf_row">
                                    <div class="zcwf_col_fld">
                                        <input type="text" id="State" formControlName="state" placeholder="State" />
                                        <div class="error"
                                            *ngIf="registrationForm.get('state')?.touched && registrationForm.get('state')?.invalid">
                                            <small *ngIf="registrationForm.get('state')?.errors?.['required']">State is required.</small>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="zcwf_row">
                                    <div class="zcwf_col_fld">
                                        <input type="text" id="Designation" formControlName="designation" placeholder="Designation" />
                                        <div class="error"
                                            *ngIf="registrationForm.get('designation')?.touched && registrationForm.get('designation')?.invalid">
                                            <small *ngIf="registrationForm.get('designation')?.errors?.['required']">Designation is
                                                required.</small>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="zcwf_row">
                                    <div class="zcwf_col_fld">
                                        <textarea id="Comments" formControlName="comments" placeholder="Comments"></textarea>
                                    </div>
                                </div>
                                <mat-form-field appearance="outline">
                                    <mat-label>Choose a date</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="selectedDate">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                    
                                <button type="submit" [disabled]="registrationForm.invalid">Submit</button>
                            </form>
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
} -->


@if (schedule_call) {
    <div class="fixed-bg" [ngClass]="{'active-schedule': schedule_call}"></div>
    <div>
        <div class="section schedule-call-form">
            <div class="position-relative section-inner">
                <div class="close-btn" (click)="notifyParent()"></div>
                <div class="section-header text-center">
                    <h2>Schedule a Call Back</h2>
                    <div class="note">Note - Disabled gray colored dates /Time Slots are already booked</div>
                </div>
                <div class="spacer-small"></div>
                <div class="section-content">
                    <div class="form-block">
                        <div class=''>
                            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                                <div class="display-flex">
                                    <div class="zcwf_row w-50">
                                        <div class="zcwf_col_fld">
                                            <mat-form-field class="formName forminr" appearance="outline">
                                                <mat-label>First Name</mat-label>
                                                <input type="text" matInput formControlName="first_name" placeholder="First Name">
                                                <mat-error>First Name is Required</mat-error>
                                            </mat-form-field> 
                                        </div>
                                    </div>
                    
                                    <div class="zcwf_row w-50">
                                        <div class="zcwf_col_fld">
                                            <mat-form-field class="formName forminr" appearance="outline">
                                                <mat-label>Last Name</mat-label>
                                                <input type="text" matInput formControlName="last_name" placeholder="Last Name">
                                                <mat-error>Last Name is Required</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="display-flex">
                                    <div class="zcwf_row w-50">
                                        <div class="zcwf_col_fld">
                                            <mat-form-field class="formName forminr" appearance="outline">
                                                <mat-label>Email</mat-label>
                                                <input type="text" matInput formControlName="email_id" placeholder="Email">
                                                <mat-error>Email is Required</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                    
                                    <div class="zcwf_row w-50">
                                        <div class="zcwf_col_fld">
                                            <mat-form-field class="formName forminr" appearance="outline">
                                                <mat-label>Mobile Number</mat-label>
                                                <input type="text" matInput formControlName="phone_number" placeholder="Phone">
                                                <mat-error>Mobile Number is Required</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>

                                <div class="display-flex">
                                    <div class="zcwf_row w-50">
                                        <div class="zcwf_col_fld">
                                            <mat-form-field class="formName forminr" appearance="outline">
                                                <mat-label>School Name</mat-label>
                                                <input type="text" matInput formControlName="school_name" placeholder="School Name">
                                                <mat-error>School Name is Required</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                        
                                    <div class="zcwf_row w-50">
                                        <div class="zcwf_col_fld">
                                            <mat-form-field class="formEmail forminr" appearance="outline">
                                                <mat-label>Board</mat-label>
                                                <mat-select formControlName="board" matNativeControl placeholder="Board">
                                                    <mat-option *ngFor="let board of boards" [value]="board">
                                                        {{board}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error>Please select the Board</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="display-flex">
                                    <div class="zcwf_row w-50">
                                        <div class="zcwf_col_fld">
                                            <mat-form-field class="formName forminr" appearance="outline">
                                                <mat-label>City</mat-label>
                                                <input type="text" matInput formControlName="city" placeholder="City">
                                                <mat-error>City is Required</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="zcwf_col_fld">
                                            <mat-form-field class="formName forminr" appearance="outline">
                                                <mat-label>State</mat-label>
                                                <input type="text" matInput formControlName="state" placeholder="State">
                                                <mat-error>State is Required</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="zcwf_col_fld">
                                            <mat-form-field class="formName forminr" appearance="outline">
                                                <mat-label>Designation</mat-label>
                                                <input type="text" matInput formControlName="designation" placeholder="Designation">
                                                <mat-error>Designation is Required</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                        
                                    <div class="zcwf_row w-50">
                                        <div class="zcwf_col_fld">
                                            <mat-form-field class="formName forminr" appearance="outline">
                                                <mat-label>Comments</mat-label>
                                                <textarea matInput formControlName="comments" placeholder="Comments"></textarea>
                                                <mat-error>Comments are Required</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>

                                <div class="display-flex">
                                    <div class="zcwf_row w-50">
                                        <div class="zcwf_col_fld">
                                            <mat-form-field class="formName forminr" appearance="outline">
                                                <mat-label>Choose a date</mat-label>
                                                <input matInput [matDatepicker]="picker" formControlName="selected_date">
                                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                                <mat-error>Please select the date</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                        
                                    <div class="zcwf_row w-50">
                                        <div class="zcwf_col_fld">
                                            <mat-form-field class="formEmail forminr" appearance="outline">
                                                <mat-label>Select Time Slots</mat-label>
                                                <mat-select formControlName="time_slot" matNativeControl placeholder="Board">
                                                    <mat-option *ngFor="let slot of availableSlots" [value]="slot">
                                                        {{slot}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error>Please select the time_slots</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" [disabled]="registrationForm.invalid" class="formsubmit btn">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}