@if (schedule_call) {
    <div class="fixed-bg" [ngClass]="{'active-schedule': schedule_call}"></div>
    <div>
        <div class="section schedule-call-form">
            <div class="position-relative section-inner">
                <div class="close-btn" (click)="notifyParent()"></div>
                <div class="section-header text-center">
                    <h2>Schedule a Call Back</h2>
                    <div class="note">Note - Disabled gray colored dates /Time Slots are already booked</div>
                </div>
                <div class="spacer-small"></div>
                <div class="section-content">
                    <div class="form-block">
                        <div class=''>
                            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                                <div class="display-flex">
                                    <div class="zcwf_row w-50">
                                        <div class="zcwf_col_fld">
                                            <input type="text" id="First_Name" formControlName="firstName" placeholder="First Name" />
                                            <div class="error"
                                                *ngIf="registrationForm.get('firstName')?.touched && registrationForm.get('firstName')?.invalid">
                                                <small *ngIf="registrationForm.get('firstName')?.errors?.['required']">First Name is
                                                    required.</small>
                                                <small *ngIf="registrationForm.get('firstName')?.errors?.['minlength']">First Name must be at
                                                    least 2 characters long.</small>
                                                <small *ngIf="registrationForm.get('firstName')?.errors?.['pattern']">Invalid characters in First Name.</small>
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div class="zcwf_row w-50">
                                        <div class="zcwf_col_fld">
                                            <input type="text" id="Last_Name" formControlName="lastName" placeholder="Last Name" />
                                            <div class="error"
                                                *ngIf="registrationForm.get('lastName')?.touched && registrationForm.get('lastName')?.invalid">
                                                <small *ngIf="registrationForm.get('lastName')?.errors?.['required']">Last Name is
                                                    required.</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="display-flex">
                                    <div class="zcwf_row w-50">
                                        <div class="zcwf_col_fld">
                                            <input type="text" id="Email" formControlName="emailId" placeholder="Email" />
                                            <div class="error"
                                                *ngIf="registrationForm.get('emailId')?.touched && registrationForm.get('emailId')?.invalid">
                                                <small *ngIf="registrationForm.get('emailId')?.errors?.['required']">Email is required.</small>
                                                <small *ngIf="registrationForm.get('emailId')?.errors?.['pattern']">Invalid email format.</small>
                                            </div>
                                        </div>
                                    </div>
                    
                                    <div class="zcwf_row w-50">
                                        <div class="zcwf_col_fld">
                                            <input type="text" id="Phone" formControlName="phoneNumber" placeholder="Phone" />
                                            <div class="error"
                                                *ngIf="registrationForm.get('phoneNumber')?.touched && registrationForm.get('phoneNumber')?.invalid">
                                                <small *ngIf="registrationForm.get('phoneNumber')?.errors?.['required']">Phone number is
                                                    required.</small>
                                                <small *ngIf="registrationForm.get('phoneNumber')?.errors?.['maxlength']">Phone number cannot
                                                    exceed 10 digits.</small>
                                                <small *ngIf="registrationForm.get('phoneNumber')?.errors?.['pattern']">Phone number must be
                                                    numeric.</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="zcwf_row">
                                    <div class="zcwf_col_fld">
                                        <input type="text" id="School_Name" formControlName="schoolName" placeholder="School Name" />
                                        <div class="error"
                                            *ngIf="registrationForm.get('schoolName')?.touched && registrationForm.get('schoolName')?.invalid">
                                            <small *ngIf="registrationForm.get('schoolName')?.errors?.['required']">School Name is
                                                required.</small>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="zcwf_row">
                                    <div class="zcwf_col_fld">
                                        <input type="text" id="Board" formControlName="board" placeholder="Board" />
                                        <div class="error"
                                            *ngIf="registrationForm.get('board')?.touched && registrationForm.get('board')?.invalid">
                                            <small *ngIf="registrationForm.get('board')?.errors?.['required']">Board is required.</small>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="zcwf_row">
                                    <div class="zcwf_col_fld">
                                        <input type="text" id="City" formControlName="city" placeholder="City" />
                                        <div class="error"
                                            *ngIf="registrationForm.get('city')?.touched && registrationForm.get('city')?.invalid">
                                            <small *ngIf="registrationForm.get('city')?.errors?.['required']">City is required.</small>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="zcwf_row">
                                    <div class="zcwf_col_fld">
                                        <input type="text" id="State" formControlName="state" placeholder="State" />
                                        <div class="error"
                                            *ngIf="registrationForm.get('state')?.touched && registrationForm.get('state')?.invalid">
                                            <small *ngIf="registrationForm.get('state')?.errors?.['required']">State is required.</small>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="zcwf_row">
                                    <div class="zcwf_col_fld">
                                        <input type="text" id="Designation" formControlName="designation" placeholder="Designation" />
                                        <div class="error"
                                            *ngIf="registrationForm.get('designation')?.touched && registrationForm.get('designation')?.invalid">
                                            <small *ngIf="registrationForm.get('designation')?.errors?.['required']">Designation is
                                                required.</small>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="zcwf_row">
                                    <div class="zcwf_col_fld">
                                        <textarea id="Comments" formControlName="comments" placeholder="Comments"></textarea>
                                    </div>
                                </div>
                    
                                <button type="submit" [disabled]="registrationForm.invalid">Submit</button>
                            </form>
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
